@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-6 px-4;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END: General styles */

.header {
  @apply flex justify-between px-4 mx-4 items-center bg-purple-800 sm:text-center sm:text-xs md:text-base;
}


.nav {
  @apply flex-nowrap relative flex w-full items-center justify-between bg-purple-800 py-2 shadow-md shadow-black/5 dark:bg-neutral-600 dark:shadow-black/10 lg:flex-wrap lg:justify-start lg:py-4;
}

.navList {
  @apply list-none mr-auto flex flex-row pl-0 lg:flex-row;
}

.navItem {
  margin-right: 10px;
}

.navItem a {

 @apply no-underline text-white font-normal sm:text-xs md:text-2xl leading-8
}

.portfolio {
  width: 200px;
  color: white;
}

.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply 2xl:text-[40px] sm:text-[34px] text-[20px] font-extrabold;
}

.hero__subtitle {
  @apply text-[27px] font-light mt-5;
}

.hero__image-container {
  @apply xl:w-[60%] xl:min-h-screen flex justify-end items-end w-full;
}

.hero__image {
  @apply relative w-full h-auto z-0;
  height: 400px; /* Adjust the height as per your requirements */
}

.pro__sector {
  @apply p-20 text-center flex flex-col;
}

.project__container {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6;
}

.project__card {
  @apply shadow-lg shadow-gray-400;
}

.project-image {
  @apply rounded-md mb-5 items-center justify-center w-72 h-72;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: #1c1d25;
}

@media (max-width: 640px) {
  .hero {
    @apply gap-4;
  }

  .hero__title {
    @apply 2xl:text-[32px] sm:text-[28px] text-[18px];
  }

  .hero__subtitle {
    @apply text-[22px];
  }

  .hero__image-container {
    @apply xl:w-full;
  }

  .hero__image {
    height: 300px;
  }

  .project__container {
    @apply grid-cols-1;
  }
}
